<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ _charset }}" />
        <title>{% block title %}Страница Пряника{% endblock %}</title>
        <link href="{{ asset('bundles/framework/css/structure.css', absolute=true) }}" rel="stylesheet" />
        <link href="{{ asset('bundles/framework/css/body.css', absolute=true) }}" rel="stylesheet" />
        {% block head %}{% endblock %}
    </head>
    <body>
        <div id="content" style="background-color: green">
                <div class="top-menu" style="height: 90px; background-color: red">
                    Top menu
                </div>

            <div>
                {% block body %}{% endblock %}
            </div>

            <div class="footer" style="height: 90px; background-color: red">
                Some Footer shit
            </div>
        </div>
    </body>
</html>
