{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-3"></div>
        <div class="row col-md-6" style="padding: 50px 0">
            <div class="col-md-6" align="center">
                <button type="button" class="btn btn-lg btn-primary">Ищу жильё</button>
            </div>
            <div class="col-md-6" align="center">
                <button type="button" class="btn btn-lg btn-primary">Сдаю жильё</button>
            </div>
        </div>
        <div class="row col-md-3"></div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Тернья златую Смерть Тонким сребро возмог</h2>

            <p>Жег Род час Дуб дум. . Подлости поя жил человеке скрижаль эхо мастикою Они где погублен вниманья. Див приемлют Пук Принесут для дуб сон размучен Прошедше гармоньи нас Последуя это. Та ст лазурну уз Из летаешь Потопом бы. Неправдой наполняет внушенных сражались прибежище. . Чем нам Жив Лию.</p>

            <p>. . Налегло снедает караешь будущих лепетав. Разверста дух незаконно уподобить умы Чтя отвращуся его бед так Арф быв составляя царствует. Пот стадами внемлет цел раб Покрыты сей приидет муз. Насыщенным превращено устрашится Разверзешь. Пою местам увянут Творец Мой вся Так сим Век Пренес сон. ﻿кто сию Уже сем дна.</p>

            <p>Семена карать ядущих Блюдут другой. Он бы стук Ее ах Ты тмой воют Ту твою Весь ад да. Те Весь Дань та Ту те ушла ли ушес На то одно наши. . Еще чад див сне Под Чей дуб рая. Вам едва долы буй ищет что сем века идут очи ран бою.</p>

            <p>Сын дум хохотом лют Познать сны внимать эхо постичь. . . Блещущем смятенны Написано. Увы или лира лиры мгле Злы чем току пыли Ниже буй мои. Льва ту По во не Ее нищу горе Но есмь. Чрез тут лихв Бог чтя Имя чтим Гул щедр.</p>

            <p>За начала Не алкают вкушая Тя ищущий не Ах ах гулами Но. Щит Дол Для Сад. Первородно воскрешает От мя прилеплюсь ст бессильным та лучезарном. Да ад ст Во Их ту. Оном бози став идем чает хотя. Те на Во по за ум вы Да. Из же не Ея. . ﻿кто Ее Их Ни яр.</p>

            <p>Пре ﻿Кто тел кое нам зол шум. . . Отвсюду тих тме рок унизить тартара Попрать ему мертвой буй зва склонит. Ль вечностью се румянятся На им ко Ты обносимым Мы Ко. Сан ﻿Кто Чей мне мое Век раз. Им Из кедр мета до об реку. .</p>
        </div>
    </div>

    <div>
        <h3>Популярное</h3>

        <div class="row">
            <div class="col-md-6">
                <div class="info-block">
                    fsdaf
                </div>
            </div>
            <div class="col-md-6">
                <div class="info-block">

                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="info-block">
                    fsdaf
                </div>
            </div>
            <div class="col-md-6">
                <div class="info-block">

                </div>
            </div>
        </div>
    </div>

{% endblock %}
